{% extends 'base.html.twig' %}

{% block title %}Eliminar Grupo - {{ parent() }}{% endblock %}

{% block body %}
    <h1>Eliminación de grupo</h1>
    <h2>Estás a punto de eliminar el grupo "{{ grupo }}". ¿Estás seguro de ello? Esta acción no se puede deshacer.</h2>
    <form method="post">
        <button type="submit" name="confirmar" value="si" class="btn btn-danger">Borrar permanentemente</button>
        <a href="{{ path('grupo_listado') }}" class="btn btn-primary">Volver al listado</a>
    </form>
{% endblock %}



