<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block titulo %}CAFListas{% endblock %}</title>
    </head>
    <body>
        {% block cuerpo %}{% endblock %}
    </body>
</html>
